.rewardTitle {
  padding: 15px;
  align-items: center;
}
.rewardTitle > span {
  margin-top: 2px;
  color: #ffffff;
  display: inline;
  font-size: 19px;
  font-weight: 800;
}

.rewardTitle > p {
  margin-top: 20px;
  color: #ffffff;
  display: inline;
  font-size: 19px;
  font-weight: 800;
}

.rewardTitle > .MuiSvgIcon-root {
  margin-left: auto;
  border-color: var(--blue);
  color: var(--blue);
  fill: var(--blue);
  font-size: 19px;
  padding: 5px;
  font-weight: 700;
  text-align: center;
  border-radius: 9999px;
}
.rewardTitle > .MuiSvgIcon-root:hover {
  background-color: var(--hover-blue-color);
}
.rewardCategory {
  display: flex;
  flex: 1;
  border-bottom: 0.5px var(--border-color) solid;
}
.rewardCategory > div {
  flex: 0.5;
  text-align: center;
  color: #fff;
  display: inline;
  font-size: 15px;
  font-weight: 700;
  padding: 15px;
}
.rewardActive {
  border-bottom: 2px var(--blue) solid;
}
.rewardActive > span {
  color: var(--blue);
}
.rewardCategory > div:hover {
  background-color: var(--hover-blue-color);
  color: var(--blue);
}

.rewardTitle .MuiAvatar-root {
  display: none;
}
@media (min-width: 0) and (max-width: 450px) {
  .rewardTitle .MuiAvatar-root {
    display: block;
    margin-right: 20px;
    height: 32px;
    width: 32px;
  }
  article {
    min-height: 100vh;
  }
}
