.signUpContainer {
  height: 100vh;
  background-color: #242d34;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.signUpContainer::-webkit-scrollbar {
  display: none;
}
.card {
  background-color: #15202b;
  width: 540px;
  min-height: 600px;
  margin-top: 37px;
  margin-bottom: 37px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}

.signuplogo {
  display: flex;
  justify-content: center;
}

.signupHeader {
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  line-height: 30.1875px;
  margin: 15px 0px;
}

.acceptTerm {
  color: #ffffff;
  font-size: 15px;
  gap: normal;
  margin: 59px 0px 0px;
}
.acceptTermBlue {
  color: #1b95e0;
}

.signupBtn {
  background-color: #1da1f2; /* 蓝色背景 */
  color: white; /* 白色文字 */
  border: none; /* 无边框 */
  border-radius: 9999px; /* 圆角 */
  padding: 15px; /* 内边距 */
  margin: 15px 0; /* 外边距 */
  font-size: 15px; /* 字体大小 */
  font-weight: bold; /* 字体加粗 */
  cursor: pointer; /* 鼠标光标 */
  display: block; /* 块级元素 */
  width: 100%; /* 按钮宽度 */
  text-align: center; /* 文字居中 */
  transition: background-color 0.3s; /* 背景色过渡效果 */
}

.error-message {
  color: #f44336; /* 明显的红色，用于错误信息 */
  background-color: #fff3f3; /* 轻微的红色背景 */
  border: 1px solid #f44336; /* 红色边框 */
  border-radius: 4px; /* 轻微的圆角 */
  padding: 10px; /* 内边距 */
  margin: 10px 0; /* 与其他元素的间距 */
  text-align: center; /* 文字居中 */
  font-size: 14px; /* 适当的字体大小 */
}

/* 响应式设计调整 */
@media (min-width: 0) and (max-width: 700px) {
  .error-message {
    margin: 10px; /* 在小屏幕上调整间距 */
  }
}

@media (min-width: 0) and (max-width: 700px) {
  .signUpContainer {
    background-color: #15202b;
    height: auto;
  }
  .card {
    background-color: #15202b;
    margin: 0px;
  }
}
